body{
    margin: 0px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-attachment: fixed;
}

header{
    display: flexbox;
    text-align: center;
}

/* Titulo */
.titulo{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0px;
    width: 100%;
}

/* Imagenes de inicio*/
#principalimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.carrusel1{
    grid-column: 2;
    min-width: 200px;
}

.carrusel2{
    grid-column: 3;
    min-width: 200px;
}

.carrusel3{
    grid-column: 2;
    grid-row: 2;
    min-width: 200px;
}

.carrusel4{
    grid-column: 3;
    grid-row: 2;
    min-width: 200px;
}

/* Formulario*/

#formulario{
    display: flexbox;
    text-align: center;
}
form{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Venta de prendas */
#venprendas{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}
.card1{
    grid-column: 3;
}
.card2{
    grid-column: 4;
}
.card3{
    grid-column: 5;
}
.card4{
    grid-column: 3;
    grid-row: 2;
}
.card5{
    grid-column: 4;
    grid-row: 2;
}
.card6{
    grid-column: 5;
    grid-row: 2;
}
.card7{
    grid-column: 3;
    grid-row: 3;
}
.card8{
    grid-column: 4;
    grid-row: 3;
}
.card9{
    grid-column: 5;
    grid-row: 3;
}
.card10{
    grid-column: 3;
    grid-row: 4;
}
   

/* Redes sociales*/
i{
    font-size: 48px;
    margin-left: 30px;
    margin-right: 30px;
}

footer{
    margin-top: 20px;
    display: flexbox;
    text-align: center;
}